<!-- Wrapper-->
<div id="wrapper">

    <div class="sidebar-collapse"></div>    
    
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <div class="middle-box text-center loginscreen   animated fadeInDown">
          <div >
            <div >

                <img src="assets/images/logo.png" alt="MEAN logo"> 
    
              <h3>Register</h3>
            </div>
            <p>Create account to see it in action.</p>
              <form  class="m-t" name="form" role="form" ng-submit="vm.register(form)" novalidate>

              <!-- First Name -->
                <div class="form-group" ng-class="{ 'has-success': form.firstname.$valid && vm.submitted,
                                                    'has-error': form.firstname.$invalid && vm.submitted }">
                  <input type="text" name="firstname" placeholder="First Name" class="form-control" ng-model="vm.user.firstname"
                        required/>
                  <p class="help-block" ng-show="form.firstname.$error.required && vm.submitted">
                    A first name is required
                  </p>
                </div>
                <!-- End First Name -->

                <!-- Last Name -->
                  <div class="form-group" ng-class="{ 'has-success': form.lastname.$valid && vm.submitted,
                                                    'has-error': form.lastname.$invalid && vm.submitted }">
                
                  <input type="text" name="lastname" placeholder="Last Name"  class="form-control" ng-model="vm.user.lastname"
                        required/>
                  <p class="help-block" ng-show="form.lastname.$error.required && vm.submitted">
                    A last name is required
                  </p>
                </div>
                <!-- End Last Name -->

                <!-- Email -->
                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                                    'has-error': form.email.$invalid && vm.submitted }">
                  
                  <input type="email" name="email" placeholder="Email"  class="form-control" ng-model="vm.user.email"
                        required
                        mongoose-error/>
                  <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                    Doesn't look like a valid email.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                    What's your email address?
                  </p>
                  <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ vm.errors.email }}
                  </p>
                </div>
                <!-- End Email  -->

                <!-- Password -->
                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                                    'has-error': form.password.$invalid && vm.submitted }">
                  
                  <input type="password" name="password" placeholder="Password"  class="form-control" ng-model="vm.user.password"
                        ng-minlength="6"
                        required
                        mongoose-error/>
                  <p class="help-block"
                    ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
                    Password must be at least 6 characters.
                  </p>
                  <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ vm.errors.password }}
                  </p>
                </div>
              
                <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                                    'has-error': form.confirmPassword.$invalid && vm.submitted }">
                  <input type="password" name="confirmPassword" placeholder="Confirm Password"  class="form-control" ng-model="vm.user.confirmPassword"
                        match="vm.user.password"
                        ng-minlength="6" required/>
                  <p class="help-block"
                    ng-show="form.confirmPassword.$error.match && vm.submitted">
                    Passwords must match.
                  </p>
                </div>

              <!-- End Password -->


                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>

                  <button class="btn btn-primary block full-width m-b" type="submit">
                    Register
                  </button>
                  <p class="text-muted text-center"><small>Already have an account?</small></p>

                  <a class="btn btn-sm btn-white btn-block" ui-sref="login">
                    Login
                  </a>
              
              </form>
          </div>
          <hr>
        </div>


    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
