<nav class="navbar-default navbar-static-side" role="navigation" ng-controller=" NavbarController as nav ">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <img src="assets/images/logo.gif" alt="MEAN logo small">
                <div class="profile-element" uib-dropdown >
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold" ng-show="nav.isLoggedIn()">Welcome, {{nav.getCurrentUser().firstname}} {{nav.getCurrentUser().lastname}}</strong>
                             </span>
                               <span class="text-muted text-xs block">Account settings<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a ui-sref="login">Edit Profile</a></li>
                        <li><a ui-sref="index.settings">Change Password</a></li>
                        <li><a ui-sref="logout">Logout</a></li>
                    </ul>
                </div>

                <div class="logo-element glyphicon glyphicon-cog profile-element" uib-dropdown>
                  <a uib-dropdown-toggle href>
                     <span class="text-muted text-xs block"><b class="caret"></b></span>
                   </a>
                   <ul uib-dropdown-menu class="animated flipInX m-t-xs" style="color:gray;word-spacing: -10px">
                        <li><a ui-sref="login">Edit Profile</a></li>
                        <li><a ui-sref="index.settings">Change Password</a></li>
                        <li><a ui-sref="logout">Logout</a></li>
                    </ul>
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ui-sref-active="active" ng-show="nav.isAdmin()" >
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Admin page</span><span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level collapse">
                     <li>
                        <a href="">User<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="">Create User</a>
                            </li>
                            <li>
                                <a href="">Edit User</a>
                            </li>
                            <li>
                                <a ui-sref="admin.user_list">User list</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Products<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="">Create Category</a>
                            </li>
                             <li>
                                <a href="">Category List</a>
                            </li>
                            <li>
                                <a ui-sref="admin.create_product">Create Products</a>
                            </li>
                            <li>
                                <a ui-sref="admin.edit_product">Edit Products</a>
                            </li>
                              <li>
                                <a ui-sref="admin.list_product">Products List</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="">Orders<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="">Order List</a>
                            </li>
                             <li>
                                <a href="">Order Confirmation</a>
                            </li>
                        </ul>
                    </li>
                 </ul>
            </li>
             <li ui-sref-active="active" ng-show="nav.isLoggedIn()">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-Commerce</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('commerce')}">
                    <li ui-sref-active="active"><a ui-sref="commerce.product_list">Products list</a></li>
                    <li ui-sref-active="active"><a ui-sref="commerce.cart">Cart</a></li>
                    <li ui-sref-active="active"><a ui-sref="commerce.orders">Orders</a></li>
                    <li ui-sref-active="active"><a ui-sref="commerce.payments">Credit Card form</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>