<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create product</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
               <a ui-sref="admin.list_product">Admin product</a>
            </li>
            <li class="active">
                <strong>Create product</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br></br>

<form class="thing-form" name="form" ng-submit="addProduct(form)" novalidate>

   <!-- <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" name="title" placeholder="Add a new product here." ng-model="ec.product.title">
      <span class="input-group-btn">
      
      </span>
    </p>-->

    <div class="ibox-content m-b-sm border-bottom">
           <div>
                <div class="form-group"
                  ng-class="{ 'has-success': form.NewProduct.$valid && submitted,
                 'has-error': form.NewProduct.$invalid && submitted }"
                >
                    <label class="control-label" for="product_name">Product Name</label>
                     <p class="help-block" ng-show="form.NewProduct.$error.required && submitted">
                      A product name is required
                    </p>
                    <input type="text" id="NewProduct"  name="NewProduct" value="" placeholder="Add a new product here." class="form-control" ng-model="product.Title" required>
                </div>
            </div>
            <div >
                <div class="form-group"
                 ng-class="{ 'has-success': form.Author.$valid && submitted,
                 'has-error': form.Author.$invalid && submitted }"
                >
                    <label class="control-label" for="Author">Author</label>
                    <p class="help-block" ng-show="form.Author.$error.required && submitted">
                      Author is required
                    </p>
                    <input type="text" id="Author" name="Author" value="" placeholder="Author" class="form-control" ng-model="product.Author" required>
                </div>
            </div>
            <div >
                <div class="form-group"
                ng-class="{ 'has-success': form.Description.$valid && submitted,
                 'has-error': form.Description.$invalid && submitted }"
                >
                    <label class="control-label" for="Description">Description</label>
                     <p class="help-block" ng-show="form.Description.$error.required && submitted">
                      The Description is required
                    </p>
                    <input type="text" id="Description" name="Description" value="" placeholder="Description" class="form-control" ng-model="product.Description" required>
                </div>
            </div>
            <div >
                <div class="form-group"
                 ng-class="{ 'has-success': form.Category.$valid && submitted,
                'has-error': form.Category.$invalid && submitted }"
                >
                    <label class="control-label" for="Category">Category</label>
                    <p class="help-block" ng-show="form.Category.$error.required && submitted">
                      The Category is required
                    </p>
                      <input type="text" id="Category" name="Category" value="" placeholder="Category" class="form-control" ng-model="product.Category" required>
                </div>
            </div>
             

              <div >
                <div class="form-group"
                 ng-class="{ 'has-success': form.Price.$valid && submitted,
                'has-error': form.Price.$invalid && submitted }"
                >
                    <label class="control-label" for="Price">Price</label>
                     <p class="help-block" ng-show="form.Price.$error.required && submitted">
                      Number of price is required
                    </p>
                      <input type="number" id="Price" name="Price" value="" placeholder="Price" class="form-control" ng-model="product.Price" required>
                </div>
            </div>
             <div >
                <div class="form-group"
                ng-class="{ 'has-success': form.Stock.$valid && submitted,
                'has-error': form.Stock.$invalid && submitted }"
                >
                    <label class="control-label" for="Stock">Stock</label>
                     <p class="help-block" ng-show="form.Stock.$error.required && submitted">
                      Number of stock is required
                    </p>
                      <input type="number" id="Stock" name="Stock" value="" placeholder="Stock" class="form-control" ng-model="product.Stock" required>
                </div>
            </div>
             <div >
                <div class="form-group"
                 ng-class="{ 'has-success': form.status.$valid && submitted,
                'has-error': form.status.$invalid && submitted }"
                >
                    <label class="control-label" for="status">Status</label>
                     <p class="help-block" ng-show="form.status.$error.required && submitted">
                      Please select status
                    </p>
                    <select name="status" id="status" class="form-control" ng-model="product.Status" >
                        <option value="Available" selected>Available</option>
                        <option value="Unavailable">Unavailable</option>
                    </select>
                </div>
            </div>
            
            <div >
                <div class="form-group">                
                    <table>
                    <thead>
                    <tr>
                      <th>Drop image</th>
                      <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                      <th>Preview</th>
                    </tr>
                    </thead>
                    <tr>
                    <td  style="padding-top:50px;">
                      <div ngf-select ngf-drop class="drop-box" ng-model="product.picture"
                      ngf-drag-over-class="dragover" ngf-multiple="false"
                      ngf-pattern="'image/*'" ngf-max-size="15MB" accept="image/*" >Drop product image here or click to upload button</div>
                      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td rowspan="2">
                      <img ngf-src="product.picture" width="170px">
                      <div ng-show="product.picture">{{product.picture.name}} {{product.picture.$error}} {{product.picture.$errorParam}}</div>
                      <img src="{{product.imageUrl}}" alt="{{product.Title}}" class="img-responsive">
                    </td>
                    </tr>
                    <tr>
                      <td>
                      <button accept="image/*" type="file" class="btn btn-primary" ngf-select ngf-max-size="15MB" ng-model="product.picture">Upload picture</button>
                      </td>
                    </tr>
                   </table>
                </div>
            </div>          
            
    <button type="submit" class="btn btn-primary" >Add New</button>
    </div>
  </form>
  <br></br>  <br></br>