  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product list</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li class="active">
                <strong>Product List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<br></br>

    <div class="ibox-content m-b-sm border-bottom">
       <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="product_name">Product Name</label>
                    <input type="text" id="product_name" name="product_name" value="" placeholder="Product Name" class="form-control" ng-model="searchKeyword.Title">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="price">Author</label>
                    <input type="text" id="author" name="author" value="" placeholder="author" class="form-control" ng-model="searchKeyword.Author">
                </div>
            </div>
               <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="category">Category</label>
                     <input type="text" id="category" name="category" value="" placeholder="category" class="form-control" ng-model="searchKeyword.Category">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="quantity">Stock</label>
                    <input type="text" id="quantity" name="quantity" value="" placeholder="Stock" class="form-control" ng-model="searchKeyword.Stock">
                </div>
            </div>
         
        </div>

    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                   <table ng-table="listProductTable" show-filter="true" class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>

                            <th data-toggle="true" ng-click="order('Title')" style="width:200px;">
	                            Title
	                            <span class="sortorder" ng-show="predicate === 'Title'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th data-hide="phone" ng-click="order('Author')" style="width:200px;">
                            	Author
								<span class="sortorder" ng-show="predicate === 'Author'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th data-hide="all" ng-click="order('Description')" style="width:200px;">
                            	Description
                            	<span class="sortorder" ng-show="predicate === 'Description'" ng-class="{reverse:reverse}"></span>
                            	</th>
                            <th data-hide="all" ng-click="order('Category')" style="width:200px;">
                            	Category
                            	<span class="sortorder" ng-show="predicate === 'Category'" ng-class="{reverse:reverse}"></span>
                            </th>
                           
                            <th data-hide="phone" ng-click="order('Price')" style="width:200px;">	Price
                             <span class="sortorder" ng-show="predicate === 'Price'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th data-hide="phone,tablet" ng-click="order('Stock')" style="width:200px;">
                            	Stock
                            	<span class="sortorder" ng-show="predicate === 'Stock'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th data-hide="phone" ng-click="order('Status')" style="width:200px;">	Status
                            	<span class="sortorder" ng-show="predicate === 'Status'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th class="text-right" data-sort-ignore="true">Action</th>

                        </tr>
                        </thead>
                        <tbody ng-click="setSelected(product._id)" ng-class="{selected: product._id === idSelectedVote}" ng-repeat="product in data | orderBy:predicate:reverse | filter:searchKeyword">
                        <tr>
                            <td style="word-wrap:break-word;width:200px;text-align: center;">
                                {{product.Title}}
                            </td>
                            <td style="word-wrap:break-word;width:200px;text-align: center;">
                                {{product.Author}}
                            </td>
                            <td >
                               <div style="word-wrap:break-word;width:300px;"> {{product.Description}} </div>
                            </td>
                            <td style="word-wrap:break-word;width:200px;text-align: center;">
                                {{product.Category}}
                            </td>
                           
                            <td>
                            	<div style="word-wrap:break-word;width:200px;text-align: center;">
                                {{product.Price | currency:"Rp "}}
                                </div>
                            </td>
                            <td style="word-wrap:break-word;width:200px;text-align: center;">
                                {{product.Stock}}
                            </td>
                            <td>
                                <span class="label label-primary" ng-show="product.Status=='Available'">
                                {{product.Status}}
                            	</span>
                            	 <span class="label" style="background-color:red;color:#FFFFFF" ng-show="product.Status=='Unavailable'">
                                {{product.Status}}
                            	</span>
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                	<table>
                                	<tr>
                                		<td>
                                    	<a class="btn btn-primary btn btn-xs" style="width:50px;" ui-sref="commerce.product_details({ id : product._id})">View</a>
                                    	</td>
                                    </tr>
                                    <tr><td>&nbsp;</td></tr>
                                    <tr>
                                		<td>
                                   		 <a class="btn btn-primary btn btn-xs" ui-sref="admin.edit_product({ id : product._id })" style="width:50px;">Edit</a>
                                   		 </td>
                                    </tr>
                                    <tr><td>&nbsp;</td></tr>
                                     <tr>
                                		<td>
                                   		 <a class="btn btn-danger btn btn-xs" confirmed-click="deleteProduct(product._id)" ng-confirm-click="Do yo want to delete {{product.Title}} ?" style="width:50px;">Delete</a>
                                   		 </td>
                                    </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                       <tr>
                        <td><a class="btn btn-primary" ui-sref="admin.create_product"> Add new product</a></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>
 